<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>J2EE Application Example</display-name>
  <welcome-file-list>
    <welcome-file>result.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.eclipse.geowave.accumulo.service.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>app</display-name>
    <servlet-name>app</servlet-name>
    <servlet-class>com.eclipse.geowave.accumulo.app.app</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>app</servlet-name>
    <url-pattern>/app</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>d3test</display-name>
    <servlet-name>d3test</servlet-name>
    <servlet-class>com.eclipse.geowave.accumulo.app.d3test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>d3test</servlet-name>
    <url-pattern>/d3test</url-pattern>
  </servlet-mapping>
</web-app>